# -------------------------------------------------------
# Full list of errors & violation codes
# -------------------------------------------------------

[flake8]
max-line-length = 110
exclude =
    .git,
    docs,
    node_modules
    __pycache__,
    build,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
import-order-style = google
application-import-names = backfillz
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
ignore = D100, D102, D105, D107, D401, W504
per-file-ignores =
    backfillz/__init__.py:F401
